/ side content
%section.vbox.animated.fadeInRight
  %section.w-f-md.scrollable.hover
    %h4.font-thin.m-l-md.m-t Connected
    %ul.list-group.no-bg.no-borders.auto.m-t-n-xxs
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img.img-circle{:alt => "...", :src => asset_path("music/images/a1.png")}/
          %i.on.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Chris Fox
          %small.text-muted New York
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a2.png")}/
          %i.on.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Amanda Conlan
          %small.text-muted France
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a3.png")}/
          %i.busy.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Dan Doorack
          %small.text-muted Hamburg
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a4.png")}/
          %i.away.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Lauren Taylor
          %small.text-muted London
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img.img-circle{:alt => "...", :src => asset_path("music/images/a5.png")}/
          %i.on.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Chris Fox
          %small.text-muted Milan
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a6.png")}/
          %i.on.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Amanda Conlan
          %small.text-muted Copenhagen
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a7.png")}/
          %i.busy.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Dan Doorack
          %small.text-muted Barcelona
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a8.png")}/
          %i.away.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Lauren Taylor
          %small.text-muted Tokyo
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img.img-circle{:alt => "...", :src => asset_path("music/images/a9.png")}/
          %i.on.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Chris Fox
          %small.text-muted UK
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a1.png")}/
          %i.on.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Amanda Conlan
          %small.text-muted Africa
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a2.png")}/
          %i.busy.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Dan Doorack
          %small.text-muted Paris
      %li.list-group-item
        %span.pull-left.thumb-xs.m-t-xs.avatar.m-l-xs.m-r-sm
          %img{:alt => "...", :src => asset_path("music/images/a3.png")}/
          %i.away.b-light.right.sm
        .clear
          %div
            %a{:href => "#"} Lauren Taylor
          %small.text-muted Brussels
  %footer.footer.footer-md.bg-black
    %form{:role => "search"}
      .form-group.clearfix.m-b-none
        .input-group.m-t.m-b
          %span.input-group-btn
            %button.btn.btn-sm.bg-empty.text-muted.btn-icon{:type => "submit"}
              %i.fa.fa-search
          %input.form-control.input-sm.text-white.bg-empty.b-b.b-dark.no-border{:placeholder => "Search members", :type => "text"}/
/ / side content