%section.hbox.stretch
  %section
    %section.vbox
      %section#bjax-target.scrollable.padder-lg.w-f-md
        %a.pull-right.text-muted.m-t-lg{"data-toggle" => "class:fa-spin", :href => "#"}
          %i#refresh.icon-refresh.i-lg.inline
        %h2.font-thin.m-b
          Discover
          %span.musicbar.animate.inline.m-l-sm{:style => "width:20px;height:20px"}
            %span.bar1.a1.bg-primary.lter
            %span.bar2.a2.bg-info.lt
            %span.bar3.a3.bg-success
            %span.bar4.a4.bg-warning.dk
            %span.bar5.a5.bg-danger.dker
        .row.row-sm
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .bottom
                  %span.badge.bg-info.m-l-sm.m-b-sm 03:20
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p1.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Tempered Song
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Miaow
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black.active
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{"data-toggle" => "class", :href => "#"}
                      %i.icon-control-play.i-2x.text
                      %i.icon-control-pause.i-2x.text-active
                  .bottom.padder.m-b-sm
                    %a.pull-right.active{"data-toggle" => "class", :href => "#"}
                      %i.fa.fa-heart-o.text
                      %i.fa.fa-heart.text-active.text-danger
                    %a{"data-toggle" => "class", :href => "#"}
                      %i.fa.fa-plus-circle.text
                      %i.fa.fa-check-circle.text-active.text-info
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p2.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Vivamus vel tincidunt libero
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Lauren Taylor
          .clearfix.visible-xs
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p3.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Morbi id neque quam liquam sollicitudin
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Allen JH
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                .top
                  %span.pull-right.m-t-n-xs.m-r-sm.text-white
                    %i.fa.fa-bookmark.i-lg
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p4.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Tincidunt libero
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Amanda Conlan
          .clearfix.visible-xs
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p5.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Fermentum diam
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Nisa Colen
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .top
                  %span.pull-right.m-t-sm.m-r-sm.badge.bg-info 6
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p6.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Habitant
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Dan Doorack
          .clearfix.visible-xs
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                .top
                  %span.pull-right.m-t-sm.m-r-sm.badge.bg-white 12
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p7.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Vivamus vel tincidunt libero
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Ligula H
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p8.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Aliquam sollicitudin venenati
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} James East
          .clearfix.visible-xs
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p9.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Lementum ligula vitae
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Lauren Taylor
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.r.r-2x.bg-light.dker.active
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a.active{"data-toggle" => "class", :href => "#"}
                      %i.icon-control-play.i-2x.text
                      %i.icon-control-pause.i-2x.text-active
                  .bottom.padder.m-b-sm
                    %a.pull-right{"data-toggle" => "class", :href => "#"}
                      %i.fa.fa-heart-o.text
                      %i.fa.fa-heart.text-active.text-danger
                    %a.active{"data-toggle" => "class", :href => "#"}
                      %i.fa.fa-plus-circle.text
                      %i.fa.fa-check-circle.text-active.text-info
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p10.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Egestas dui nec fermentum
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Chris Fox
          .clearfix.visible-xs
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p11.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Aliquam sollicitudin venenatis ipsum
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} Jack Jason
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .item
              .pos-rlt
                .item-overlay.opacity.r.r-2x.bg-black
                  .text-info.padder.m-t-sm.text-sm
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star-o.text-muted
                  .center.text-center.m-t-n
                    %a{:href => "#"}
                      %i.icon-control-play.i-2x
                  .bottom.padder.m-b-sm
                    %a.pull-right{:href => "#"}
                      %i.fa.fa-heart-o
                    %a{:href => "#"}
                      %i.fa.fa-plus-circle
                %a{:href => "#"}
                  %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/p12.jpg")}/
              .padder-v
                %a.text-ellipsis{:href => "#"} Vestibulum ullamcorper
                %a.text-ellipsis.text-xs.text-muted{:href => "#"} MM & DD
        .row
          .col-md-7
            %h3.font-thin New Songs
            .row.row-sm
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a2.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Spring rain
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Miaow
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a3.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Hope
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Miya
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a8.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Listen wind
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Soyia Jess
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a9.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Breaking me
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Pett JA
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a1.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Nothing
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Willion
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a6.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Panda Style
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Lionie
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a7.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Hook Me
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Gossi
              .col-xs-6.col-sm-3
                .item
                  .pos-rlt
                    .item-overlay.opacity.r.r-2x.bg-black
                      .center.text-center.m-t-n
                        %a{:href => "#"}
                          %i.fa.fa-play-circle.i-2x
                    %a{:href => "#"}
                      %img.r.r-2x.img-full{:alt => "", :src => asset_path("music/images/a5.png")}/
                  .padder-v
                    %a.text-ellipsis{:href => "#"} Tempered Song
                    %a.text-ellipsis.text-xs.text-muted{:href => "#"} Miaow
          .col-md-5
            %h3.font-thin Top Songs
            .list-group.bg-white.list-group-lg.no-bg.auto
              %a.list-group-item.clearfix{:href => "#"}
                %span.pull-right.h2.text-muted.m-l 1
                %span.pull-left.thumb-sm.avatar.m-r
                  %img{:alt => "...", :src => asset_path("music/images/a4.png")}/
                %span.clear
                  %span Little Town
                  %small.text-muted.clear.text-ellipsis by Chris Fox
              %a.list-group-item.clearfix{:href => "#"}
                %span.pull-right.h2.text-muted.m-l 2
                %span.pull-left.thumb-sm.avatar.m-r
                  %img{:alt => "...", :src => asset_path("music/images/a5.png")}/
                %span.clear
                  %span Lementum ligula vitae
                  %small.text-muted.clear.text-ellipsis by Amanda Conlan
              %a.list-group-item.clearfix{:href => "#"}
                %span.pull-right.h2.text-muted.m-l 3
                %span.pull-left.thumb-sm.avatar.m-r
                  %img{:alt => "...", :src => asset_path("music/images/a6.png")}/
                %span.clear
                  %span Aliquam sollicitudin venenatis
                  %small.text-muted.clear.text-ellipsis by Dan Doorack
              %a.list-group-item.clearfix{:href => "#"}
                %span.pull-right.h2.text-muted.m-l 4
                %span.pull-left.thumb-sm.avatar.m-r
                  %img{:alt => "...", :src => asset_path("music/images/a7.png")}/
                %span.clear
                  %span Aliquam sollicitudin venenatis ipsum
                  %small.text-muted.clear.text-ellipsis by Lauren Taylor
              %a.list-group-item.clearfix{:href => "#"}
                %span.pull-right.h2.text-muted.m-l 5
                %span.pull-left.thumb-sm.avatar.m-r
                  %img{:alt => "...", :src => asset_path("music/images/a8.png")}/
                %span.clear
                  %span Vestibulum ullamcorper
                  %small.text-muted.clear.text-ellipsis by Dan Doorack
        .row.m-t-lg.m-b-lg
          .col-sm-6
            .bg-primary.wrapper-md.r
              %a{:href => "#"}
                %span.h4.m-b-xs.block
                  %i.icon-user-follow.i-lg
                  Login or Create account
                %span.text-muted Save and share your playlist with your friends when you log in or create an account.
          .col-sm-6
            .bg-black.wrapper-md.r
              %a{:href => "#"}
                %span.h4.m-b-xs.block
                  %i.icon-cloud-download.i-lg
                  Download our app
                %span.text-muted Get the apps for desktop and mobile to start listening music at anywhere and anytime.
      %footer.footer.bg-dark
        #jp_container_N
          .jp-type-playlist
            #jplayer_N.jp-jplayer.hide
            .jp-gui
              .jp-video-play.hide
                %a.jp-video-play-icon play
              .jp-interface
                .jp-controls
                  %div
                    %a.jp-previous
                      %i.icon-control-rewind.i-lg
                  %div
                    %a.jp-play
                      %i.icon-control-play.i-2x
                    %a.jp-pause.hid
                      %i.icon-control-pause.i-2x
                  %div
                    %a.jp-next
                      %i.icon-control-forward.i-lg
                  .hide
                    %a.jp-stop
                      %i.fa.fa-stop
                  %div
                    %a{"data-target" => "#playlist", "data-toggle" => "dropdown"}
                      %i.icon-list
                  .jp-progress.hidden-xs
                    .jp-seek-bar.dk
                      .jp-play-bar.bg-info
                      .jp-title.text-lt
                        %ul
                          %li
                  .hidden-xs.hidden-sm.jp-current-time.text-xs.text-muted
                  .hidden-xs.hidden-sm.jp-duration.text-xs.text-muted
                  .hidden-xs.hidden-sm
                    %a.jp-mute{:title => "mute"}
                      %i.icon-volume-2
                    %a.jp-unmute.hid{:title => "unmute"}
                      %i.icon-volume-off
                  .hidden-xs.hidden-sm.jp-volume
                    .jp-volume-bar.dk
                      .jp-volume-bar-value.lter
                  %div
                    %a.jp-shuffle{:title => "shuffle"}
                      %i.icon-shuffle.text-muted
                    %a.jp-shuffle-off.hid{:title => "shuffle off"}
                      %i.icon-shuffle.text-lt
                  %div
                    %a.jp-repeat{:title => "repeat"}
                      %i.icon-loop.text-muted
                    %a.jp-repeat-off.hid{:title => "repeat off"}
                      %i.icon-loop.text-lt
                  .hide
                    %a.jp-full-screen{:title => "full screen"}
                      %i.fa.fa-expand
                    %a.jp-restore-screen{:title => "restore screen"}
                      %i.fa.fa-compress.text-lt
            #playlist.jp-playlist.dropup
              %ul.dropdown-menu.aside-xl.dker
                / The method Playlist.displayPlaylist() uses this unordered list
                %li.list-group-item
            .jp-no-solution.hide
              %span Update Required
              To play the media you will need to either update your browser to a recent version or update your
              = succeed "." do
                %a{:href => "http://get.adobe.com/flashplayer/", :target => "_blank"} Flash plugin
  %aside#sidebar.aside-md.bg-light.dk{"ng-include" => "'music/shared/right_aside.html'"}
%a.hide.nav-off-screen-block{"data-target" => "#nav,html", "data-toggle" => "class:nav-off-screen,open", :href => "#"}